#nomeDia {
  text-align: center;
  font-size: 5vw;
  border-style: groove;
  border-color: #fad31c;
  border-width: 5px;
  background-color: #fad31c;
  max-width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0rem;
}

.clicavel:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.certo {
  background-color: #05a32f;
}

.errado {
  background-color: #e61920;
}

.diasId {
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  margin-right: 0;
  background-color: #111111;
  text-align: center;
  color: #ffffff;
}

/*.diasId:first-child {
  border-left-style: solid;
}

.diasId:last-child {
  border-right-style: solid;
}*/

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 5vw;
}

.dias {
  width: 20%;
  font-size: 4rem;
  padding: 1vw;
  color: #ffffff;
  background-color: #111111;
  border-width: 5px;
  border-style: outset;
  border-color: #111111;
  text-align: center;
}

.agendaLivre {
  border-color: #05a32f;
  background-color: #05a32f;
}

.agendaCheia {
  border-color: #e61920;
  background-color: #e61920;
}

.respostaDada {
  border-color: blue;
  background-color: blue;
}

#calendario {
  border-style: groove;
  background-color: #000;
  width: 100%;
  margin-top: 10px;
  margin-left: 50%;
  margin-right: 50%;
}

table {
  margin: 0 auto;
  width: 80%;
}

h2 {
  font-size: 2rem;
}

.fa-arrow-left {
  float: left;
  margin-top: 5px;
  width: auto;
  height: 5px;
}

.fa-arrow-right {
  float: right;
  margin-top: 5px;
  width: auto;
  height: 5px;
}

#mes {
  width: 100%;
  max-height: 70px;
  background-color: #111111;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

#nomeMes {
  margin: 0 auto;
  color: #ffffff;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 2rem;
  }

  .dias {
    font-size: 3.4rem;
  }

  #nomeMes {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 2rem;
  }

  .dias {
    font-size: 2.5rem;
  }

  #nomeMes {
    font-size: 2rem;
  }
}
