body {
  width: 100%;
  margin: 0;
}

.hide {
  display: none;
}

.texto {
  color: #fff;
  margin-left: 20px;
}

#currentUser {
  margin-top: 80px;
  text-align: center;
  color: blue;
}

#notaDoMes {
  text-align: center;
}

.student {
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 5px;
}

#studentList {
  background-color: #000;
  overflow: scroll;
  margin-top: 90px;
  width: 100%;
  height: 100px;
}

.newAudio {
  background-color: crimson;
}

.respostaDada {
  background-color: #345eeb;
}

#voltar {
  color: yellow;
  margin-left: 1rem;
}

#saveButton {
  margin-left: 40%;
}

#menu {
  background-color: #333;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

#logout {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-left: 50%;
  margin-right: 50%;
}

#saveButton {
  background-color: blue;
  color: white;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 2rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#recordingsAudios {
  margin-top: 3rem;
}
