:root {
  --audioProfessor: #06bed6bb;
  --audioEnviado: #555;
  --diaLivre: #16c22d;
  --receivedStudentAudio: crimson;
  --setaVoltar: yellow;
}

body {
  width: 100%;
  margin: 0;
  background-color: #555;
}

.hide {
  display: none !important;
}

.getText {
  width: 95%;
  margin-left: 5px;
  height: 70px;
  padding: 7px 9px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.student {
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 5px;
}

#studentList {
  background-color: #000;
  overflow: scroll;
  margin-top: 90px;
  width: 100%;
  height: 100px;
}

.newAudio {
  background-color: var(--receivedStudentAudio);
}

.respostaDada {
  background-color: #345eeb;
}

#voltar {
  color: var(--setaVoltar);
  margin-left: 1rem;
}

#menu {
  background-color: #333;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

#recordingsAudios {
  margin-top: 3rem;
}

@media screen and (max-width: 700px) {
  #currentUser {
    font-size: 1.5rem;
  }

  #notaDoMes {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  #notaDoMes {
    font-size: 1rem;
  }

  #currentUser {
    font-size: 1rem;
  }
}

@media (pointer: none), (pointer: coarse) {
  .dias {
    font-size: 4rem;
  }
}
